@import "~/src/scss/index";

.container-header-title {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  h2 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    color: white;
  }
}
