@import "./scss/index.scss";

body {
  background: #110f15;
}

i {
  color: $primary-color-hover !important;
}

.Toastify {
  .Toastify__toast-container--top-center {
    width: 100%;
    top: 5%;
    left: -100;
    padding: 0;
    margin: 0;

    .Toastify__toast {
      .Toastify__close-button {
        align-self: center;
      }
    }
  }
}

a:hover {
  color: white !important;
}

.container-no-data{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;

  p{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
}